<!DOCTYPE html>
	<!-- Step 1 -->
<html>
	<head>
		<meta charset="utf-8">

		<title>Tic Tac Boom!</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="js/angular.js"></script>
		<!-- already created step 2.0 -->
		<!-- <script src="js/app.js"></script> -->
 
		<!-- Step 3.0 -->
		<script type="text/javascript" src="js/MainController.js"></script>
		<!-- Player controller -->
		<script src="js/playerCtlr.js"></script>
		<!-- Live Reload -->
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	</head>
	 
	<style type="text/css">*/
	.row { clear: both; }
	.cell { float: left; }
	</style> 

	<body class="board" ng-app="boomApp" ng-controller="boomAppCtlr">
	<h1>{{greeting}}</h1>
	<h2>{{joshua}}</h2>
		<div id="main-container">

			<div ng-click="cellClick($index)" class="row" ng-repeat="row in game.board track by $index" ng-class="changeColor()">
				{{row.s}}
						
			</div>

		</div>
		<button>Start A Game</button>

		
 	</body>
</html>
