html{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-image: url("../images/background_003.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body div#main-container{	
	width: 310px;
	height: 300px;
	margin: 0 auto;

}

div.row{
	width: 85px;
	height: 85px;
	border: 2px solid black;
	border-radius: 5px;
	float: left;
	padding: 2px;

}
.board-tile.selected-tile {
	background-color: black;
}

.board-tile.unselected-tile {
	background-color: white;
}